<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="row">
      <div class="medium-12 column">
        <%= f.label :metric %>
        <%= f.text_field :metric %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 column">
        <%= f.label :value %>
        <%= f.text_field :value %>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 column">
        <%= f.label :by_date %>
        <%= f.date_select :by_date %>
      </div>
    </div> 
    <div class="row">
      <div class="medium-12 column">
        <%= f.label :date_entered %>
        <%= f.date_select :date_entered %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit :class=>'button secondary'%>
    </div>
  </form>
<% end %>
