<p id="notice"><%= notice %></p>

<h1>Your Goals</h1>

<%= link_to 'Add New Goal', new_goal_path %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Metric</th>
      <th>Value</th>
      <th>By date</th>
      <th>Date entered</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.goals.each do |goal| %>
      <tr>
        <td><%= goal.user_id %></td>
        <td><%= goal.metric %></td>
        <td><%= goal.value %></td>
        <td><%= goal.by_date %></td>
        <td><%= goal.date_entered %></td>
        <td><%= link_to 'View', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Delete', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

