<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <div class="row">
    <div class="medium-12 columns">
      <label><%= f.label :date %>
        <%= f.date_select :date %> 
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <label><%= f.label :weight %>
        <%= f.number_field :weight %>
      </label>
    </div>
    <fieldset>
     <legend>Measurements</legend>  
     <div class="row">
       <div class="medium-2 columns">
         <label><%= f.label :chest %>
           <%= f.number_field :chest, :step => 0.25 %>
         </label>
       </div>
       <div class="medium-2 columns">
         <label><%= f.label :waist %>
           <%= f.number_field :waist, :step => 0.25 %>
         </label>
       </div>
       <div class="medium-2 columns">
         <label><%= f.label :bicep %>
           <%= f.number_field :bicep, :step => 0.25 %>
         </label>
       </div>
       <div class="medium-2 columns">
         <label><%= f.label :thigh %>
           <%= f.number_field :thigh, :step => 0.25 %>
         </label>
       </div>
       <div class="medium-2 columns end">
         <label><%= f.label :calf %>
           <%= f.number_field :calf, :step => 0.25 %>
         </label>
       </div>
     </fieldset>
     <fieldset>
       <legend>Macros</legend>
       <div class="row">
         <div class="medium-3 columns">
           <label><%= f.label :calories %>
             <%= f.number_field :calories %>
           </label>
         </div>
         <div class="medium-3 columns">
           <label><%= f.label :protein %>
             <%= f.number_field :protein %>
           </label>
         </div>
         <div class="medium-3 columns">
           <label><%= f.label :carbs %>
             <%= f.number_field :carbs %>
           </label>
         </div>
         <div class="medium-3 columns">
           <label><%= f.label :fats %>
             <%= f.number_field :fats %>
           </label>
         </div>
       </div>
     </fieldset>
     <div class="row">
       <div class="medium-12 columns">
         <label><%= f.label :workout %>
           <%= f.text_area :workout %>
         </label>
       </div>
     </div>
     <fieldset>
       <legend>Mood Ratings</legend>
       <div class="row">
         <div class="medium-12 columns">
	   <label><%= f.label :energy %>
	     <%= f.number_field :energy %>
	   </label>
	 </div>
       </div>
       <div class="row">
         <div class="medium-12 columns">
           <label><%= f.label :sleep %>
             <%= f.number_field :sleep %>
           </label>
         </div>
       </div>

     </fieldset>	
    <div>
  </form>

  <div class="actions">
    <%= f.submit :class=>'button secondary' %>
  </div>
<% end %>
