<p id="notice"><%= notice %></p>

<h1>Your Entries</h1>

<%= link_to 'New Entry', new_entry_path, :class=>'button secondary' %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Chest</th>
      <th>Waist</th>
      <th>Bicep</th>
      <th>Thight</th>
      <th>Calf</th>
      <th>Weight</th>
      <th>Calories</th>
      <th>Workout</th>
      <th>Energy</th>
      <th>Sleep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.entries.each do |entry| %>
      <tr>
        <td><%= entry.user_id %></td>
        <td><%= entry.date %></td>
        <td><%= entry.chest %></td>
	<td><%= entry.waist %></td>
	<td><%= entry.bicep %></td>
	<td><%= entry.thigh %></td>
	<td><%= entry.calf %></td>
        <td><%= entry.weight %></td>
        <td><%= entry.calories %></td>
        <td><%= entry.workout %></td>
        <td><%= entry.energy %></td>
        <td><%= entry.sleep %></td>
        <td><%= link_to 'View', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
