<p id="notice"><%= notice %></p>

<h1>Your Entries</h1>

<br/>

<div class="button_center">
  <%= link_to 'New Entry', new_entry_path, :class=>'button secondary' %>
</div>

<%= month_calendar events: (current_user.entries + current_user.goals) do |date, events|%>
  <%= date.mday %>
  <% events.each do |event| %>
    <% if event.is_a?(Entry) %>
      <div> <%= link_to 'View Entry', event %> </div>
    <% elsif event.is_a?(Goal) %>
      <div> <%= link_to 'View Goal', event %> </div>
    <% end %>
  <% end %>
<% end %>

<br/>

<div class="all-entries">
<h3>All Entries</h3>
<table class="entry_list">
  <thead>
    <tr>
      <th>Date</th>
      <th>Chest (inches)</th>
      <th>Waist (inches)</th>
      <th>Bicep (inches)</th>
      <th>Thight (inches)</th>
      <th>Calf (inches)</th>
      <th>Weight (lbs)</th>
      <th>Calories</th>
      <th>Protein (g)</th>
      <th>Carbs (g)</th>
      <th>Fats (g)</th>
      <th>Workout</th>
      <th>Energy</th>
      <th>Sleep (hrs.)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.entries.each do |entry| %>
      <tr>
        <td><%= entry.date %></td>
        <td><%= entry.chest %></td>
        <td><%= entry.waist %></td>
        <td><%= entry.bicep %></td>
        <td><%= entry.thigh %></td>
        <td><%= entry.calf %></td>
        <td><%= entry.weight %></td>
        <td><%= entry.calories %></td>
        <td><%= entry.protein %></td>
        <td><%= entry.carbs %></td>
        <td><%= entry.fats %></td>
        <td><%= entry.workout %></td>
        <td><%= entry.energy %></td>
        <td><%= entry.sleep %></td>
        <td><%= link_to 'View', entry %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
