<div class="display_box">
<h3 class="display_title">
  <%= @entry.date.strftime("%m/%d/%Y") %>
</h3>

<p>
  <strong>Chest (in):</strong>
  <%= @entry.chest %>
</p>

<p>
  <strong>Waist (in):</strong>
  <%= @entry.waist %>
</p>

<p>
  <strong>Bicep (in):</strong>
  <%= @entry.bicep %>
</p>

<p>
  <strong>Thigh (in):</strong>
  <%= @entry.thigh %>
</p>

<p>
  <strong>Calf (in):</strong>
  <%= @entry.calf %>
</p>


<p>
  <strong>Weight (lbs):</strong>
  <%= @entry.weight %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @entry.calories %>
</p>

<p>
  <strong>Protein (g):</strong>
  <%= @entry.protein %>
</p>

<p>
  <strong>Carbs (g):</strong>
  <%= @entry.carbs %>
</p>

<p>
  <strong>Fats (g):</strong>
  <%= @entry.fats %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @entry.workout %>
</p>

<p>
  <strong>Energy (1-10):</strong>
  <%= @entry.energy %>
</p>

<p>
  <strong>Sleep (hrs):</strong>
  <%= @entry.sleep %>
</p>

<div class="display_link">
<%= link_to 'Back', entries_path %> |
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Delete', @entry, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
