<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Chest (inches):</strong>
  <%= @entry.chest %>
</p>

<p>
  <strong>Waist (inches):</strong>
  <%= @entry.waist %>
</p>

<p>
  <strong>Bicep (inches):</strong>
  <%= @entry.bicep %>
</p>

<p>
  <strong>Thigh (inches):</strong>
  <%= @entry.thigh %>
</p>

<p>
  <strong>Calf (inches):</strong>
  <%= @entry.calf %>
</p>


<p>
  <strong>Weight (lbs.):</strong>
  <%= @entry.weight %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @entry.calories %>
</p>

<p>
  <strong>Protein (g):</strong>
  <%= @entry.protein %>
</p>

<p>
  <strong>Carbs (g):</strong>
  <%= @entry.carbs %>
</p>

<p>
  <strong>Fats (g):</strong>
  <%= @entry.fats %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @entry.workout %>
</p>

<p>
  <strong>Energy (on scale of 1-10):</strong>
  <%= @entry.energy %>
</p>

<p>
  <strong>Sleep (hrs.):</strong>
  <%= @entry.sleep %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %> |
<%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
