<div class="homepage">
  <% if !user_signed_in? %>
    <div class="panel">
      <h1>Fitness Challenge Tracker by BitsPlease</h1>
      <h2>Welcome to the best fitness challenge tracker ever!</h2>
      <%= link_to "Sign Up Now!", new_user_registration_path, class: "button large round", id:"home-signup-button" %>
    </div>
  <% else %>
    <h3>Welcome, <strong><%= current_user.first_name %> <%= current_user.last_name %></strong></h3>
    <br/>
    <ul class="button-group">
      <li><%= link_to "Your Entries", entries_path, class: "button large secondary" %></li>
      <li><%= link_to "Your Goals", goals_path, class: "button large secondary"%></li>
    </ul>
  <% end %>
</div>
</div>
