<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "BitsPlease Fitness Tracker", home_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
    	<li><%= link_to "Entries", entries_path, :class=>'navbar-link' %></li> 
	    <li><%= link_to "Goals", goals_path, :class=>'navbar-link' %></li>
	    <li><%= link_to "Progress", progress_path, :class=>'navbar-link' %></li>
	    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></li>
        <li><%= link_to "Log in", new_user_session_path, :class => 'navbar-link' %></li>
      <% end %>
    </ul>
  </section>
</nav>
